* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    background-color: #f5debb;
    line-height: 2;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
}

.logo {
    font-size: xx-large;
    font-weight: bold;
}

.header {
    background-color: #f7990c;
    color: #fff;
    padding: 20px;
    margin: 0px 20px;
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product .container {
    display: flex;
}

.card {
    background-color: #f7990c;
    color: #fff;
    flex: 1;
    border-radius: 20px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 2px 5px #000;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px;
}

a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: black;
}

img {
    max-width: 400px;
}

@media screen and (max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding: 20px;
    }

    .product .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 390px) {
    img {
        width: 300px;
        height: 300px;
    }
}